{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<h1>Admin-panel</h1>

<p>
    Dette er en enkel admin-side der man kan se alt registrert fravær i systemet.
</p>

<section class="cards">
    <div class="card">
        <h3>Funksjoner</h3>
        <p>Admin kan se fravær, elever og oversikt over systemet.</p>
    </div>

    <div class="card">
        <h3>Videre utvikling</h3>
        <p>Senere kan man legge til innlogging og lærerroller.</p>
    </div>
</section>

<h2>Alt registrert fravær</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Elev</th>
        <th>Fag</th>
        <th>Dato</th>
        <th>Status</th>
        <th>Kommentar</th>
    </tr>

    {% for f in fravaer %}
    <tr>
        <td>{{ f.id }}</td>
        <td>{{ f.fornavn }} {{ f.etternavn }}</td>
        <td>{{ f.fag }}</td>
        <td>{{ f.dato }}</td>
        <td>{{ f.status }}</td>
        <td>{{ f.kommentar }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}